body {
    color: #182052;
    font-family: "Poppins";
}

#myBank {
    color: #182052;
    font-family: "Poppin";
}

.logo {
    height: 2rem;

}

button  {
    background-color: #182052;
    margin-top: 1rem;
    margin-right: 35px;
    height: 2rem;
    border-radius: 5rem;
    margin-bottom: 2px;
    display: flex;           /* Use flexbox layout for button content */
    justify-content: center; /* Center content horizontally */
    align-items: center;
}




.navbar-custom {
    background-color: #182052;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .nav-item.active .nav-link {
    color: #f8f9fa !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #24307F;
}

.dropdown-item {
    color: white;
}

.navbar-brand {
    font-size: 46px;
    font-weight: 800;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-text {
    margin-right: 0;
}

footer {
    background-color: #182052;
}


#card{
    background: #182052;
    color: #f8f9fa;
    border-radius: 25px;
   display: flex;
 justify-content: center;

}